<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD App</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <!-- HEADER -->
    <header id="site-header">
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">CRUD App</a>
                </div>
            </div>
        </nav>
    </header>
    
    <!-- MAIN -->
    <main id="site-main">
    <div class="container">
        <%- body %> 
    </div>
    </main>

    <!-- FOOTER -->
    <footer id="site-footer" class="text-center">
        Copyright &copy; 2016. CRUD App
    </footer>
    
</body>
</html>