<div class="jumbotron text-center">
    <h1>Edit an Event</h1>    
</div>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        
        <form action="/events/<%= event.slug %>" method="POST">
             
             <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="name" value="<%= event.name %>">
            </div>

            <div class="form-group">
                <label>Description</label>
                <textarea name="description" rows="5" class="form-control"><%= event.description %></textarea>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success">Edit</button>
            </div>

        </form>

    </div>
</div>