<div class="jumbotron text-center">
    <h1>All Events</h1>
    <a href="/create" class="btn btn-lg btn-danger">Create</a>
</div>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Event Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

        <% for (var event of events) { %>
        <tr>
            <td><%= event.name %></td>
            <td class="col-sm-2 text-center">
                <!-- links to view, edit, delete -->
                <a href="/events/<%= event.slug %>" class="btn btn-sm btn-primary">View</a>
                <a href="/events/<%= event.slug %>/edit" class="btn btn-sm btn-primary">Edit</a>
                <a href="#" class="btn btn-sm btn-primary">Delete</a>
            </td>
        </tr>
        <% } %>

    </tbody>
</table>
